<div class="row">
        <div *ngIf="error" class="alert alert-danger">
            <div class="col-sm-1"></div>
            <div class="col-sm-10" id="errorMessage">{{ error }}</div>
            <div class="col-sm-1"></div>
            <div class="row">&nbsp;</div>
        </div>
    
        <div *ngIf="success" class="alert alert-success">
            <div class="col-sm-1"></div>
            <div class="col-sm-10" id="successMessage">{{ success }}</div>
            <div class="col-sm-1"></div>
            <div class="row">&nbsp;</div>
        </div>    
</div>
